.container {
    max-width: $website-width;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden;
}

// buttons
%btn-shared {
    display: inline-block;
    padding: .8rem 2rem;
    font-weight: bold;
    transition: all .5s;
    border: none;
    cursor: pointer;
}

.btn {
    &-main {
        @extend %btn-shared;
        color: #333;
        background: $main-color;
    }

    &-light {
        @extend %btn-shared;
        color: #333;
        background: $light-color;
    }

    
    &-dark {
        @extend %btn-shared;
        color: #f4f4f4;
        background: $dark-color;
    }
}

// bgs 
.bg {
    &-dark {
        background: $dark-color;
    }
    
    &-light {
        background: #fff;
    }
}

//txt-clr 
.txt {
    &-dark {color: #000;}
    &-light {color: #fff;}
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
}

.lead {
    font-size: 1.3rem;
    text-align: center;
    padding: .5rem;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

// padding
.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}

// my
.my {
    &-1 {
        margin: 1rem 0;
    }
    &-2 {
        margin: 2rem 0;
    }
    &-3 {
        margin: 3rem 0;
    }
    &-4 {
        margin: 4rem 0;
    }
}

.bottom-line {
    display: block;
    height: 2px;
    width: 4rem;
    background: $main-color;
    margin: 0 auto 1rem auto;
}

#txt-font {
    font-size: 4rem;
}
.txt {
    font-size: 1.1rem;
}

