@import 'config';
@import 'utilities';

//general styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
}

body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #797878;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $main-color;    /* color of the scroll thumb */
  }

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    text-transform: uppercase;
}

image {
    width: 100%;
}
.txt-ti {
    font-size: 4rem;
    color: $main-color;
}

// logo
#logo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
}

// main-nav
#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: .2rem transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
            border-color: $main-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}


// header
#header {
    // header home

    &-home {
        height: 100vh;
        width: 100%;
        color: #fff;

    
        // header content
        .header-content {
            display: block;
            text-align: center;
            align-items: center;
            padding: 15%;
        }

        h1 {
            font-size: 4rem;
            line-height: 1.2;
        }
    }

    // header inner
    &-inner {

    }

}
.header-mascara {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: $bg-image no-repeat center right / cover ;
}

.header-mascara::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $dark-color;
    opacity: 0.8;
    z-index: -1;
}

// home sections
#home {
    &-a {
        .specials {
            margin-top: 4rem;
            margin-bottom: 2rem;
            display: grid;
            grid-gap: 4rem;
            grid-template-columns: repeat(2, 1fr);

            .fas {
                padding-bottom: 0.4rem;
                color: #000;
                transition: color .5s;
            }
            
            .fas:hover {
                color: $main-color;
            }
        }
    }
    
    &-b {
        .stats {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            li {
                line-height: 2;
                text-align: center;
                
                &.stats-title {
                    font-size: 1.5rem;
                    font-weight: 900;
                }

                &.stats-number {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }

            div {
                padding: 4rem 0;
                margin: 0 .2rem;
                border: 5px solid $border;


                &:nth-child(1) {
                    background: #d5c088;
                    margin-left: .5rem;
                }
                
                &:nth-child(2) {
                    background: #f8ebc6;
                }
                &:nth-child(3) {
                    background: #d5c088;
                }
                
                &:nth-child(4) {
                    background: #f8ebc6;
                    margin-right: .5rem;
                }
            }
        }
    }

    &-c {      
        .process {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
            text-align: center;
            
            &-icon {
                padding: 50px;
                border-radius: 50px;
                background: $dark-color;
                color: $light-color;
                transition: color  .5s;
            }

            &-icon:hover {
                color: $main-color;
            }
          
        }
     }

        &-footer {
            .footer-elements {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-around;

                .icons-social {
                    font-size: 1rem;
                    padding: .4rem;
                    margin: 0 .4rem;
                    border: .1rem solid $light-color;
                    border-radius: 50px;
                    transition: all .5s;
                }

                .icons-social:hover {
                    color: $main-color;   
                    border-color: $main-color;
                }
            }
        }
    }

